/*Demo Styles*/
			
p	{
	color:#000;
	font-family: Arial;
	font-size:9pt;
	margin:2%
	}

#layer1 {
	position: absolute;
	width: 42%;
	height: 100%;
	background:white;
	opacity:0.7;
	z-index:999
	}

#layer2 {
	position: absolute;
	top: 10%;
	left: 5%;
	right: 5%;
	bottom: 10%;
	width: auto;
	height: auto;
	color:#fff;
	font-family: Arial;
	font-size:8pt; font-weight: lighter;
	
	
	}

